Ticket number:
<a
  href="{{http}}{{ front_end }}/job-order/category/{{job_order_category.ticket_number}}"
  ><strong>{{job_order_category.ticket_number}}</strong></a
>
<br />
Category: <strong>{{ job_order_category.category }}</strong> <br />
Job description: <strong>{{ job_order_category.job_description }}</strong> <br />
Notes from the VA: <strong>{{ job_order_category.notes_va }}</strong> <br />

<p>If you have questions, please feel free to email admin@landmaster.us or call 415-770-0422.</p>
<p>Please add our Facebook Customer support: https://web.facebook.com/gilian.gegawin.146/ </p>
<p>We would appreciate that you will give your honest feedback for us to improve our service to serve you better. </p>
<p>Thank you.</p>