Ticket number:
<a
  href="{{http}}{{ front_end }}/job-order/property-detail/{{property_detail.ticket_number}}"
  ><strong>{{property_detail.ticket_number}}</strong></a
>
<br />
Property status: <strong>{{ property_detail.property_status }}</strong> <br />
APN: <strong>{{ property_detail.apn }}</strong> <br />
County: <strong>{{ property_detail.county }}</strong> <br />
State: <strong>{{ property_detail.state }}</strong>

<p>If you have questions, please feel free to email admin@landmaster.us or call 415-770-0422.</p>
<p>Please add our Facebook Customer support: https://web.facebook.com/gilian.gegawin.146/ </p>
<p>We would appreciate that you will give your honest feedback for us to improve our service to serve you better. </p>
<p>Thank you.</p>